* {
box-sizing: border-box;
}


body {
background-image: url(/img/fonback.png);
background-size: cover;
background-repeat: no-repeat;
font-family: 'Ubuntu', sans-serif;
margin: 0 auto;

}

a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}
input {
padding: 0;
margin: 0;
box-sizing: border-box;
}

header {
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__container {
    display: flex;
    flex-direction: row;
    padding: 18px 79px;
    justify-content: space-between;
}
.logo {
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
    align-items: center;
    transition: all .8s ease;
}
.logo:hover {
transition: 0.2s ease-in-out;
color: #01813F;
transform: scale(1.1);
}
svg:hover {
    fill: #3CB878;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;

}

.header__nav {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.header__nav__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 26px;
    height: 24px;
}
.img__header__nav {
position: relative;
display: flex;
flex-direction: row;
gap: 27px;
padding-right: 20px;
margin-right: 20px;
}

.img__header__nav::after {
content: '';
position: absolute;
background-image: url(/img/line.png);
height: 24px;
width: 2px;
right: 0px;
}

.header__nav__items {
fill: #FFF;
}

.text__header__nav {
color: #FFF;
}
.text__header__nav>a:hover {
transition: 0.2s ease-in-out;
color: #01813F;

}


.form__wrapper {
margin: 0 auto;
margin-top:54px ;
margin-bottom: 54px;
width: 444px;
background-color:#fff;
box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
}

.form__container {
padding: 31px 60px 38px 60px;
}
.form__head {
display: flex;
justify-content: space-between;
position: relative;
font-size: 20px;
line-height: 20px;
font-weight: 400;
margin-bottom: 14px;
}
.form__log-in {
position: relative;
font-size: 14px;
font-weight: 400;
line-height: 14px;
color: #3CB878;
}



.form__log-in:hover:before {
position: absolute;
content: '';
width: 40px;
height: 2px;
background-color: #01813F;
bottom: 2px;
transition: 0.4s ease-in-out;
}

.form__log-in:hover {
color: #01813F;
transition: 0.3s ease-in-out;
}

/* .form__lower__link:hover:before {
    position: absolute;
    content: '';
    width: 140px;
    height: 2px;
    background-color: #01813F;
    bottom: -3px;
    transition: 0.4s ease-in-out;
    transition-duration: 1000ms;;
    } */



.form__head::before {
content: '';
position: absolute;
width: 20px;
height: 20px;
background-color: #3CB878;
left: -18.5%;
}



.form__social_box {
display: flex;
justify-content: space-between;
margin-bottom: 34px;
}

.btn {
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
width: 160px;
height: 48px;
font-weight: 400;
font-size: 16px;
line-height: 16px;
border-radius: 5px;
color: #fff;
}

.btn::before {
content: '';
position: absolute;
width: 1px;
height: 28px;
left: 58px;
background-color:  rgba(60, 60, 60, 0.3);

}

.social__link-f {
background-color: #305DB8;
}
.social__link-f:hover {
background-color: #022263;
transition: 0.3s ease-in-out;

}
.social__link-g {
background-color: #DF4A32;
}
.social__link-g:hover {
background-color: #AB1F09;
transition: 0.3s ease-in-out;

}

.social__link-g>img {
width: 30px;
height: 19px;
}
.social__link__icons {
width: 24px;
height: 24px;
}
.or-line {
position: relative;
display: flex;
justify-content: center;
align-items: center;
color: #848484;
font-size: 14px;
line-height: 14px;
font-weight: 400;
margin-bottom: 12px;
}
.or-line::before {
content: '';
position: absolute;
width: 46%;
height: 1px;
background-color: #F2F2F2;
left: 1px;
top: 55%;
}
.or-line::after {
content: '';
position: absolute;
width: 46%;
height: 1px;
background-color: #F2F2F2;
right: 1px;
top: 55%;
}
.input__block label {
 display: block;
 width: 100%;
 margin-bottom: 16px;  
}
.input__block input {
width: 100%;
padding-left: 15px;
height: 44px;
font-size: 14px;
border: 1px solid #F2F2F2;
border-radius: 4px;
outline: none;
}
.input__block {
width: 100%;
}
input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}




.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 15px;
    height: 15px;
  }
  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    gap: 5px;
}
.custom-checkbox+label::before {
content: '';
display: inline-block;
width: 16PX;
height: 16px;
border: 1px solid #f2F2F2;
border-radius:2px;
margin-right: 10px;
background-repeat: no-repeat;
background-position: center center;
background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
background-image: url(/img/check.svg);
background-size: cover;
}
.form__lower__link {
color: #3CB878CC;
position: relative;
}
.form__lower__link:hover:before {
position: absolute;
content: '';
width: 140px;
height: 2px;
background-color: #01813F;
bottom: -3px;
transition: 0.4s ease-in-out;
transition-duration: 1000ms;;
}



.form__lower__button {
position: relative;
width: 100%;
padding: 0;
cursor: pointer;
background-color:#3CB878CC ;
outline: none;
border: none;
border-radius:2px;
height: 3.5em;
color: #fff;
font-size: 16px;
font-weight: 400;
line-height: 16px;
}

.form__lower__button:hover {
background-color: #01813F;
transition: 0.3s ease-in-out ;
}




.form__lower__block>label {
margin-bottom: 15px;
}

.form__lower__block a:hover {
    color: #01813F;
    transition: 0.2s ease-in-out;
}